:root {
    --body-color: rgb(219, 219, 239);
    --section-color: rgb(16, 170, 141);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
}


h1 {
    display: inline-block;
    font-size: 75px;
    padding: 10px;
}

h2 {
    font-family: 'Azeret Mono', monospace;
    font-weight: 500;
    font-size: 50px;
    text-align: right;
    padding-bottom: 10px;
}

h3 {
    font-size: 30px;
    background-color: white;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--section-color);
    margin: 10px 20px 50px;
}

nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    font-size: 35px;
    margin-left: 25px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

nav ul li:hover {
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 2rem;
    padding: 15px;
}

section {
    display: flex;
    background-color: var(--section-color);
    margin: 10px 20px 25px;
    padding: 10px;
    border: 2px black solid;
}

aside {
    flex: 1;
    margin-right: 5px;
}

article {
    position: relative;
    transition: all 0.5s ease-in-out;
}

article:hover {
  box-shadow: inset 0px 0px 8px black, 0 0 25px black;
}


article img {
    width: 100%;
    height: 100%;
}

article h3 {
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
    z-index: 1;
}

/* About Me Section */
#about-me {
    align-items: center;
}

#about-me-bio {
    flex: 1.5;
}

#about-me-bio p {
    background: white;
    margin-left: 10px;
}

#about-me-img {
    flex: 0.5;
}

#about-me-img img {
    width: 100%;
    border: 2px black solid;
}

/* Project Work Section */
#project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
    width: 50%;
}

/* Contact Me Section */

#contact-me h2 {
    flex: 1;
    text-align: left;
    padding: 0;
}

#contact-me p {
    margin: 0 20px;
    padding-top: 10px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
}

footer a {
    font-size: 48px;
    margin: -15px 0 10px 10px;
}

/* Media Queries */
@media (max-width: 1500px) {
    #about-me-img {
        flex: 0.75;
    }
    
    #about-me-bio {
        flex: 1.25;
    }
}

@media (max-width: 1250px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }

    #about-me-img {
        flex: 0.95;
    }
    
    #about-me-bio {
        flex: 1.05;
    }
}


@media (max-width: 1024px) {
    header {
        justify-content: space-between;
    }
    
    h1 {
        width: 50%;
    }

    h2 {
        text-align: center;
        margin: 20px 0;
    }

    section div {
        width: 100%;
    }

    /* OLD CSS */
    #about-me {
        flex-direction: column;
        align-items: center;
    }

    #my-project-work {
        flex-direction: column;
        /* align-items: center; */
    }

    #project-grid {
        width: 100%;
    }

    #contact-me h2 {
        flex: 0.75;
        text-align: center;
    }

    #contact-me p {
        padding-top: 30px;
    }

}

@media (max-width: 972px) {
    /* Stack contact info on top of each other. */
    #contact-me {
        flex-direction: column;
        align-items: center;
    }

    #contact-me p {
        font-size: 1.5rem;
        padding: 0;
    }
}

@media (max-width: 600px) {
    /* Stack navbar on top of each other. */
    header {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    h1 {
        background-color: var(--body-color);
        width: 100%;
    }

    /* Fix the Header fonts */
    h2 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
     }

    /* Turn project-grid into a column */
    #project-grid {
        grid-template-columns: 1fr;
        /* grid-template-rows: 10% 10% 10% 10%; */
    }
}